<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            {% if site.cv %}
            <li><a href="{{ site.baseurl }}/{{ site.cv }}" target="_blank" title="CV"><i class="ai ai-cv ai-{{ site.footer_icon_size }}"></i></a></li>
            {% endif %}
            {% if site.orcid_id %}
            <li><a href="https://orcid.org/{{ site.orcid_id }}" target="_blank" title="ORCID"><i class="ai ai-orcid ai-{{ site.footer_icon_size }}"></i></a></li>
            {% endif %}
            {% if site.arxiv %}
            <li><a href="{{ site.arxiv }}" target="_blank" title="arXiv"><i class="ai ai-arxiv ai-{{ site.footer_icon_size }}"></i></a></li>
            {% endif %}
            {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github fa-{{ site.footer_icon_size }}"></i></a></li>
            {% endif %}
            {% if site.linkedin_username %}
            <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin fa-{{ site.footer_icon_size }}"></i></a></li>
            {% endif %}
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
