<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="index.html">
                 <img src="{{ site.baseurl }}/img/logo.png" alt="Logo">
                 </a> -->

          <ul class="nav navbar-icons">
          <!-- Some hack to get the site title in the header -->
          <a href="{{ site.baseurl }}/"><font size="6">{{ site.title }}</font></a>&nbsp;&nbsp;&nbsp;&nbsp;
          {% if site.cv %}
          <a href="{{ site.baseurl }}/{{ site.cv }}" target="_blank" title="CV"><i class="ai ai-cv ai-{{ site.icon_size }}"></i></a>
          {% endif %}
          {% if site.arxiv %}
          <a href="{{ site.arxiv }}" target="_blank" title="arXiv"><i class="ai ai-arxiv ai-{{ site.icon_size }}"></i></a>
          {% endif %}
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github fa-{{ site.icon_size }}"></i></a>
          {% endif %}
          <!-- {% if site.bitbucket_username %}
               <a href="https://bitbucket.com/{{ site.bitbucket_username }}" target="_blank" title="BitBucket"><i class="fab fa-bitbucket fa-{{ site.icon_size }}"></i></a>
               {% endif %} -->
          {% if site.linkedin_username %}
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin fa-{{ site.icon_size }}"></i></a>
          {% endif %}
          </ul>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ site.baseurl }}/">Home</a></li>
                  <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                  <!-- <li><a href="{{ site.baseurl }}/work">Research</a></li> -->
              </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>
</header><!-- header close -->
