
  <!-- Sharing on Social Media -->
<hr />
{% if page.is_post == true %}
<h5>Share This Post</h5>
{% else %}
<h5>Share This Site</h5>
{% endif %}
  <!-- Create url for sharing -->
  {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
  {% if page.shortUrl != null %}
    {% assign url = page.shortUrl %}
  {% endif %}

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Share on Facebook -->
  {% if page.url == "/index.html" %}
  <div class="fb-share-button" data-href="{{site.url}}/" data-layout="button" style="position: relative; top: -8px;"></div>
  {% else %}
  <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button" style="position: relative; top: -8px;"></div>
  {% endif %}


  <!-- Share on Twitter -->
  <a href="https://twitter.com/share" class="twitter-share-button"
  data-count="none" data-url={{ url }}>Tweet</a>
  <script>!function(d,s,id){var
  js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,
  'script', 'twitter-wjs');</script>
  
  <!-- Share on LinkedIn -->
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-url={{ url }}></script>

  <!-- Share on google+ -->
  <div class="g-plus" data-action="share" data-href={{ url }}></div>
  